img {
    width: 400px;
    height: 250px;
}

.smallImg {
    width: 20px;
    height: 20px;
}

.bgSakura {
    background-image: url("../images/sakura-tree-small.png");
}

.bgSakura-lg {
    background-image: url("../images/sakura-tree.png");
}

.letterShadow {
    filter: drop-shadow(1px 1px #d668b9);
}

@media (min-resolution: 192dpi) {
    .mainZoomHome {
        transform-origin: 100% 50%;
        transform: scale(0.75);
    }
}