@font-face {
    font-family: 'comfort';
    src: url('../fonts/Comfortaa-VariableFont_wght.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

h1,h2,p,li,a,label {
    font-family: 'comfort';
}

img {
    width: 400px;
    height: 250px;
}

.smallImg {
    width: 20px;
    height: 20px;
}

.titleGradient {
    background: rgb(239,136,232);
    background: linear-gradient(356deg, rgba(239,136,232,0.7904411764705882) 1%, rgba(220,81,237,0.8576680672268908) 46%, rgba(225,29,194,0.8828781512605042) 100%);   
}

.bgSakura {
    background-image: url("../images/sakura-tree-small.png");
}

.bgSakura-lg {
    background-image: url("../images/sakura-tree.png");
}

.letterShadow {
    filter: drop-shadow(1px 1px #d668b9);
}

@media (min-resolution: 192dpi) {
    .mainZoomHome {
        transform-origin: 100% 50%;
        transform: scale(0.75);
    }
}